@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Roboto:400,700');
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

html {
  box-sizing: border-box;
}
/* ===== MY STYLES ===== */
html, body {
  height: 100%;
  width: 100%;
}

.narration {
  font-family: 'Roboto', sans-serif;
}

.bubble {
  border: 4px black solid;
  border-radius: 20px;
  padding:20px;
  background: white;
}

p {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 22px;

}

a:link {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    background-color: transparent;
    text-decoration: underline;
}

/* ===== FRONT PAGE ===== */

#frontpage_main {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  width: 40%;
}

#logo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height:500px;
  background:url(../images/logo.jpg) center center no-repeat;
  background-size: contain;
}

#login {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
}

#login button {
  margin:20px;
}

#login a:link {
    color: #46c8f5;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    background-color: transparent;
    text-decoration: none;
}

#login a:visited {
    color: #46c8f5;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    background-color: transparent;
    text-decoration: none;
}

/* ===== CAVE PAGE ===== */

.room_body{

}

#cave{
  height: 800%;
  width:800%;
  background: #333;
}

#finalroomcontainer {
  color: white;
  width: 300px;
}


.cavelink{
  position: relative;
  height:400px;
  width:200px;

}

.dooricon {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 30%;
  background: red;

}



.door {
  position: absolute;
  height: 70%;
  width:100%;
  bottom: 0%;
  background:url(../images/door_basic.png) center center no-repeat;
  background-size: contain;
}

#finalroom {
  background:url(../images/door_final.png) center center no-repeat;
  background-size: contain;
}

#iconfinal {
  background:url(../images/iconfinal.png) center center no-repeat;
  background-size: contain;
}

#iconpatience {
  background:url(../images/iconpatience.png) center center no-repeat;
  background-size: contain;
}

#iconpass1 {
  background:url(../images/iconpass1.png) center center no-repeat;
  background-size: contain;
}

#iconpass2 {
  background:url(../images/iconpass2.png) center center no-repeat;
  background-size: contain;
}

#iconpass3 {
  background:url(../images/iconpass3.png) center center no-repeat;
  background-size: contain;
}

#iconcatch {
  background:url(../images/iconcatch.png) center center no-repeat;
  background-size: contain;
}

#robo_cave {
  background:url(../images/robot_surprised.png) center center no-repeat;
  background-size: contain;
}


/* ===== CATCH PAGE ===== */
#catchmain {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#catchme {
position:absolute;
z-index:500;
right:-500px;
top:10px;
width:500px;
height:350px;
background:url(../images/key_fly.png) center center no-repeat;
background-size: contain;
}

#catchdoor {
  position: fixed;
  z-index: -50;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  background:url(../images/door_catch.png) center center no-repeat;
  background-size: contain;
}

#robo_catch {
  background:url(../images/robot_catch.png) center center no-repeat;
  background-size: contain;
}

/* ===== FALL PAGE ===== */

#fall {
  position: absolute;
  width: 5%;
  height:1000%;
  left: 50%;
  transform: translateX(-50%);
}

#fall p {
  font-size: 120px;
  word-wrap: break-word;
}

/* ===== PATIENCE PAGE ===== */

.wait {
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:500px;
  height:800px;
  z-index: 1;
  background:url(../images/door_construction.png) center center no-repeat;
  background-size: contain;
}

.wait button {
  position: fixed;
  bottom:0;
  left: 50%;
  transform: translateX(-50%);
}

.go {
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:500px;
  height:800px;
  visibility: hidden;
  z-index: 5;
  background:url(../images/door_construction.png) center center no-repeat;
  background-size: contain;
}

.go button {
  position: fixed;
  bottom:0;
  left: 50%;
  transform: translateX(-50%);
}

#robo_patience{
  background:url(../images/robot_happy.png) center center no-repeat;
    background-size: contain;
}

#robo_patiencefail{
  background:url(../images/robot_grump.png) center center no-repeat;
    background-size: contain;
}

#robo_patiencesuccess{
  background:url(../images/robot_happy.png) center center no-repeat;
    background-size: contain;
}

#patienceBG {
  height: 100%;
  width: 100%;
  background:url(../images/patiencebg.jpg) center center no-repeat;
    background-size: contain;
}

/* ===== PASSWORD PAGES ===== */
.passwordinput {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.correct {
  font-family: 'IM Fell English SC', serif;
  font-size: 24px;
  text-align: center;
  display: none;
}



#passwordium1 {
  width: 500px;
  height:500px;
  background:url(../images/passwordium1.png) center center no-repeat;
  background-size: contain;
}

#robo_pass1{
  background:url(../images/robot_happy.png) center center no-repeat;
    background-size: contain;
}

#robo_pass2{
  background:url(../images/robot_surprised.png) center center no-repeat;
    background-size: contain;
}

#robo_pass3{
  background:url(../images/robot_down.png) center center no-repeat;
    background-size: contain;
}

/* ===== PORTRAIT PAGE ===== */

#facecontain {
  position: absolute;
  height: 100%;
  width: 100%;
  background:url(../images/facebg.jpg) center center no-repeat;
  background-size: contain;
}


.facepart {
  display: inline-block;
  width:300px;
  height:300px;
}

#left{
  background:url(../images/left1.png) center center no-repeat;
  background-size: contain;


}

#right{
  background:url(../images/right1.png) center center no-repeat;
  background-size: contain;


}

#nose{
  background:url(../images/nose1.png) center center no-repeat;
  background-size: contain;

}

#mouth{
  background:url(../images/mouth1.png) center center no-repeat;
  background-size: contain;

}

#profile_narration{
  position: absolute;
  top: 5%;
  right: 5%;
  width: 25%;
}

.robo_profile{
    display:     block;
    padding-top: 100%;
}

#robo_profile{
  background:url(../images/robot_happy.png) center center no-repeat;
    background-size: contain;
}

/* ===== CLUES ===== */
.clue {
  width: 400px;
  height: 300px;
  margin: 20px;
}

#clue1{
  background:url(../images/clue1.png) center center no-repeat;
    background-size: contain;
}

#clue2{
  background:url(../images/clue2.png) center center no-repeat;
    background-size: contain;
}

#clue3{
  background:url(../images/clue3.png) center center no-repeat;
    background-size: contain;
}

#clue4{
  background:url(../images/clue4.png) center center no-repeat;
    background-size: contain;
}

#clue5{
  background:url(../images/clue5.png) center center no-repeat;
    background-size: contain;
}
