@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Roboto:400,700');
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

html {
  box-sizing: border-box;
}
/* ===== MY STYLES ===== */
html, body {
  height: 100%;
  width: 100%;
}

.narration {
  font-family: 'Roboto', sans-serif;
}

.bubble {
  border: 4px black solid;
  border-radius: 20px;
  padding:20px;
}

p {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 22px;

}

/* ===== FRONT PAGE ===== */

/* ===== CAVE PAGE ===== */

#cave{
  height: 800%;
  width:800%;
  background: #333;
}

.cavelink{
  height:400px;
  width:200px;
  background:white;
}


/* ===== CATCH PAGE ===== */
#catchmain {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 4px blue solid;
}

#catchme {
position:absolute;
z-index:500;
right:-500px;
top:10px;
width:500px;
height:300px;
border: 1px red solid;
background: red;
}

/* ===== FALL PAGE ===== */

#fall {
  position: absolute;
  width: 5%;
  height:1000%;
  left: 50%;
  transform: translateX(-50%);
}

#fall p {
  font-size: 120px;
  word-wrap: break-word;
}

/* ===== PATIENCE PAGE ===== */

.wait {
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:400px;
  height:200px;
  z-index: 1;
  background: blue;
}

.go {
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:400px;
  height:200px;
  visibility: hidden;
  z-index: 5;
  background: red;
}

/* ===== PASSWORD PAGES ===== */

.correct {
  font-family: 'IM Fell English SC', serif;
  font-size: 20px;
  display: none;
}

#passwordium1 {
  width: 200px;
  height:200px;
  background: lime;
}

/* ===== PORTRAIT PAGE ===== */

.facepart {
  display: inline-block;
  width:300px;
  height:300px;
}

#left{
  background:url(../images/left1.png) center center no-repeat;
  background-size: contain;


}

#right{
  background:url(../images/right1.png) center center no-repeat;
  background-size: contain;


}

#nose{
  background:url(../images/nose1.png) center center no-repeat;
  background-size: contain;

}

#mouth{
  background:url(../images/mouth1.png) center center no-repeat;
  background-size: contain;

}

#profile_narration{
  position: absolute;
  top: 5%;
  right: 5%;
  width: 25%;
}

#robo_profile{
  background:url(../images/mouth1.png) center center no-repeat;
    background-size: contain;
    display:     block;
    padding-top: 100%;
}
