
p{
  display: inline-block;
  width:25%
}

#click{
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  margin: 30px;
}

#hover{
text-align: center;
font-size: 30px;
font-family: sans-serif;
margin: 30px;
}

.animate {
  animation-name: move;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes move {
	100% { position: absolute;
    transform: translateY(50px);
  }
}
