/*

ScrollMagic with TweenMax
Pippin Barr

Basic styling.

*/

html body {
  height: 100%;
  width:100%;
}



.image {
  transform: translate(-50%,-50%);
  position: fixed;
  width: 800px;
  height:800px;
  top: 50%;
  left:50%;
}

#face {

  background-image: url('../images/face.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}


.animation {
  position: relative;
  height: 500px;
  width:100%;
}

.spacer {
  position: relative;
  height: 1000px;
  width:100%;
}
