/*

ScrollMagic with TweenMax
Pippin Barr

Basic styling.

*/

html body {
  height: 100%;
  width:100%;
}


#container {
  position: absolute;
  height:300%;
  width:100%;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: red 1px solid;
}


#trigger {
  position: fixed;
  width: 800px;
  height:800px;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: blue 1px solid;
  background-image: url('../images/1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
